# Student Loan Risk with Deep Learning

In [48]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [49]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"


# Review the DataFrame
df = pd.read_csv(file_path)
df

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [50]:
# Review the data types associated with the columns
df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [51]:
# Define the target set y using the credit_ranking column
y = df["credit_ranking"].values

# Display a sample of y
y[:5]

array([5, 5, 5, 6, 5], dtype=int64)

In [52]:
# Define features set X by selecting all columns but credit_ranking
x = df.drop(columns="credit_ranking").copy()

# Review the features DataFrame
x.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [53]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
xTrain, xTest, yTrain, yTest = train_test_split(x,y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [54]:
# Create a StandardScaler instance
xScaler = StandardScaler()
xScaler.fit(xTrain)
# Fit the scaler to the features training dataset
xTrainScaled = xScaler.transform(xTrain)

# Fit the scaler to the features training dataset
xTestScaled = xScaler.transform(xTest)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [55]:
# Define the the number of inputs (features) to the model
number_inputs = 11
# Review the number of features
sum(x.columns.value_counts())

11

In [56]:
# Define the number of neurons in the output layer
number_classes = 1

In [57]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [58]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [59]:
# Create the Sequential model instance
neuron = Sequential()

In [60]:
# Add the first hidden layer
neuron.add(Dense(units = hidden_nodes_layer1, input_dim = number_inputs, activation = "relu"))

In [61]:
# Add the second hidden layer
neuron.add(Dense(units = hidden_nodes_layer2,  activation = "relu"))

In [62]:
# Add the output layer to the model specifying the number of output neurons and activation function
neuron.add(Dense(units = number_classes, activation = "linear"))

In [63]:
# Display the Sequential model summary
neuron.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 8)                 96

 dense_5 (Dense)             (None, 4)                 36

 dense_6 (Dense)             (None, 1)                 5

=================================================================
Total params: 137 (548.00 Byte)
Trainable params: 137 (548.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [64]:
# Compile the Sequential model
neuron.compile(loss = "mean_squared_error")

In [65]:
# Fit the model using 50 epochs and the training data

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [66]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data


# Display the model loss and accuracy results

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [67]:
# Set the model's file path


# Export your model to a HDF5 file

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [68]:
# Set the model's file path


# Load the model to a new object

### Step 2: Make predictions on the testing data.

In [69]:
# Make predictions on the testing data

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [70]:
# Create a DataFrame to compare the predictions with the actual values

### Step 4: Display a sample of the DataFrame you created in step 3.

In [71]:
# Display sample data